#testdiv{
    cursor: url(pen.png);
}

.box{
    height: 100%;
    width: 100%;  
    
   
}

.box-border{
    box-sizing: border-box;
    border: 1px solid rgb(109, 109, 109);
}


.drawing{
    cursor: url('cursor.cur'), default;
}

.erasing{
    cursor: url('eraser.cur'), default;
}

#gridParent{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    position: relative;
    top: 5%;
    left: 55%;
    justify-self: center;
    width: 600px;


}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
html{
    height: 100%;
    width: 100%;
}

