.box{
    background-color: white;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

#gridParent{
    margin: 0;
    padding: 0;
    position: relative;
    top: 25%;
    justify-content: center;

}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
html{
    height: 100%;
    width: 100%;
}

